

 body{
    background-color: #FFEDFA;
 }
 
 
 
.card:hover .card-btn{
    right: 1rem;

 }
 
   .other-card:hover .other-btn{
        bottom: 132px;
            top: 31px;
            cursor:pointer;
            text-align: center;
   } 
  